<%
  return_to ||= local_assigns.fetch(:return_to, request.fullpath)
  notes_scope_meta ||= nil
  notes ||= nil
%>

<div class="card mb-4">
  <div class="card-header">
    <%= link_to new_note_path, class: "btn btn-success btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.new') do %>
      <i class="fa fa-sticky-note fa-fw" aria-hidden="true"></i>
      New Note
    <% end %>
  </div>

  <%= render partial: "notes/notes_table", locals: {
      return_to: return_to,
      notes_scope_meta: notes_scope_meta,
      notes: notes
  } %>
</div>