<br>
<h1 class="mt-4"><%= t("notes.title") %></h1>

<ol class="breadcrumb mb-4 hidden-print">
  <li class="breadcrumb-item active"><%= t('notes.nav') %></li>
</ol>

<%= render partial: 'notes/index', locals: {
    return_to: notes_path,
    notes_scope_meta: @notes_scope_meta,
    notes: @notes
} %>

