<span class="success_msgs float-right mt-1">
  <% if notice %>
        <p class="alert alert-success">
            <%= notice %>
        </p>
  <% end %>
</span>

<span class="error_msgs float-right mt-1"> <% if alert %>
        <p class="alert alert-danger">
            <%= alert %>
        </p>
  <% end %>
</span>

<script type="text/javascript" charset="utf-8">
    setTimeout("$('.error_msgs').fadeOut('slow')", 3000);
    setTimeout("$('.success_msgs').fadeOut('slow')", 3000);
</script>

<% flash.discard if flash.present? %>