$new_green: #339999;
$blue: #308F95;
$dblue: #1379b3;
$grey: #525252;
$lgrey: #f5f6f8;
$green: #7BBD06;
$borderColor: #eee;
$light_grey: #fcfcfc;
$dark_grey_text: #858585;

.action-btn {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid $borderColor;
  border-radius: 5px;
  position: relative;
  margin: 1px;
  text-align: center;
  cursor: pointer;

  i {
    color: #666666;
    font-size: 18px;
    padding-top: 2px;
  }

  &.edit {
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #D2F7FC;
      border-color: #A4D7E7;
      transition: all 0.2s ease-out;
    }

    &:hover:after {
      content: "Edit";
      width: 67px;
    }
  }

  &.export_pkpass {
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #def8e7;
      border-color: #31ef71;
      transition: all 0.2s ease-out;
    }

    &:hover:after {
      content: "Export";
      width: 67px;
    }
  }

  &.clone_pkpass_template {
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #e6c3f8;
      border-color: #a304f2;
      transition: all 0.2s ease-out;
    }

    &:hover:after {
      content: "Clone";
      width: 67px;
    }
  }

  &.trash {
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #FFDADA;
      border-color: #F7BBBB;
      transition: all 0.2s ease-out;
    }

    &:hover:after {
      content: "Remove";
      width: 67px;
    }
  }

  &.edit_group {
    transition: all 0.2s ease-out;
    z-index: 2;

    &:hover {
      background-color: #D2F7FC;
      border-color: #A4D7E7;
      transition: all 0.2s ease-out;
    }

    &:hover:after {
      content: "Design Editor";
      width: 87px;
    }
  }

  &.add_content {
    transition: all 0.2s ease-out;
    z-index: 2;

    &:hover {
      background-color: #D2F7FC;
      border-color: #A4D7E7;
      transition: all 0.2s ease-out;
    }

    &:hover:after {
      content: "Media";
      width: 67px;
    }
  }

  &.delete {
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #FFDADA !important;
      border-color: #F7BBBB;
      transition: all 0.2s ease-out;
    }

    &:hover:after {
      content: "Delete";
      width: 67px;
    }
  }

  &.go_to_art_object {
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #FFDADA;
      border-color: #F7BBBB;
      transition: all 0.2s ease-out;
    }

    &:hover:after {
      content: "Go to Object page";
      width: 110px;
    }
  }

  &.show {
    &:hover:after {
      content: "Show";
    }
  }

  &.login {
    &:hover:after {
      content: "Log in";
      width: 32px;
    }
  }

  &.comments {
    &:hover:after {
      content: "Comments";
      width: 67px;
    }
  }

  &.download {
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #DFF1A5;
      border-color: #B2EC5A;
      transition: all 0.2s ease-out;
    }

    &:hover:after {
      content: "Download";
    }
  }

  &.restore {
    &:hover {
      background-color: #FFDADA;
      border-color: #F7BBBB;
      transition: all 0.2s ease-out;
    }

    &:hover:after {
      content: "Restore Default Text";
      left: -100px;
    }
  }

  &.restore-menu-items {
    &:hover:after {
      content: "Restore Default Navigation";
      left: -100px;
      margin-top: -10px;
    }
  }

  &.show_tour {
    &:hover:after {
      content: "Show tour";
    }
  }

  &.hide_tour {
    &:hover:after {
      content: "Hide tour";
    }
  }

  &.next-to-input {
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 5;
  }

  &.bottom-of-page {
    position: absolute;
    right: 30px;
    bottom: 100px;
    z-index: 5;
  }

  &:hover {
    &:after {
      position: absolute;
      padding: 2px 3px;
      border: 1px solid $borderColor;
      top: -20px;
      left: -10%;
      background: #fff;
      color: #666;
      font-size: 12px;
    }
  }
}


th.actions-cell, td.actions-cell {
  text-align: right;
  padding-right: 10px;

  &.two-buttons {
    min-width: 66px;
  }
}

// Hides the attachment button group on the Trix Editor:
span.trix-button-group--file-tools {
  display: none;
}